/* body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: none;
} */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.logo {
  position: relative;
  padding-left: 100px;
}

.logo-container {
  width: 24px;
  height: 24px;
  margin-left: 50px;
  margin-top: 30px;
}

.hamburger {
  display: inline-block;
  padding: 10px 19px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#chk-nav-bar {
  display: none;
}

.menu-options {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 0px;
  width: 100%;
  justify-self: flex-start;
  z-index: 2;
}

.menu-options li {
  list-style-type: none;
  padding: 12px 16px;
  text-transform: uppercase;
  background-color: transparent;
  display: flex;
  color: white;
  position: relative;
  top: 10px;
}

.menu-options-links {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  text-decoration: none;
  color: #060a24;
}

.menu-options > li > a:hover {
  color: #00f3bb;
  text-decoration-line: line-through;
}

.menu-options > ul > li > a:link {
  text-decoration: none;
  transition: background-color 0.5s;
}

.menu-options li a:visited {
  text-decoration: none;
}

.burger-close {
  display: none;
  padding: 10px 19px;
}

#burger-open {
  display: none;
}

#chk-nav-bar:checked ~ #burger-open {
  display: none;
}

#chk-nav-bar:checked ~ .menu-options,
#chk-nav-bar:checked ~ #burger-close {
  display: block;
}

.inicial {
  display: block;
}

.title-1 {
  height: 50px;
  font-family: 'IBM Plex Sans', monospace;
  font-size: 55px;
  color: #060a24;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 200px;
}

section .title-5 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060a24;
  font-weight: normal;
  line-height: 24px;
  width: 650px;
  position: relative;
  top: 20px;
  left: 200px;
}

.btn {
  width: 226px;
  height: 56px;
  background: #00f3bb;
  font-family: IBM Plex Mono;
  font-size: 20px;
  color: #060a24;
  text-align: center;
  border: 1px solid #00f3bb;
  cursor: pointer;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  position: relative;
  top: 70px;
}

.btn:hover {
  background: linear-gradient(to top right, #00f3bb, blue);
  width: 270px;
  height: 80px;
}

.rectangulo {
  height: 1040px;
  width: 1440px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 15%);
  position: relative;
  top: 100px;
}

.rectangulo p {
  font-family: 'IBM Plex Sans';
  font-size: 48px;
  color: white;
  position: relative;
  top: 190px;
  padding-left: 200px;
  font-weight: lighter;
}

.spotify {
  display: flex;
  justify-content: space-evenly;
  margin-left: -50px;
  margin-top: 30px;
  padding-top: 180px;
}

.spotify-col1,
.spotify-col2 {
  width: 544px;
}

.de-donde-venimos p {
  width: 470px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bolder;
  color: #060a24;
  line-height: 24px;
}

.phone-de {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  right: 100px;
}

.Entrevistas {
  position: relative;
  top: 250px;
}

.invitadas {
  position: relative;
  top: 40px;
}
.foto1 {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.foto2 {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.algunos-de-nuestros-temas,
.algunos-de-nuestros-temas2 {
  display: flex;
  justify-content: space-evenly;
  padding-left: 70px;
  padding-top: 50px;
}

.rectangulo2 {
  height: 550px;
  width: 1440px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 30%);
  position: relative;
  top: 130px;
}

.btn2 {
  width: 345px;
  height: 56px;
  background: #00f3bb;
  border: 1px solid #00f3bb;
  font-family: IBM Plex Mono;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  position: relative;
  top: 30px;
  right: 40px;
}

.btn2:hover {
  background: linear-gradient(to top right, #00f3bb, blue);
  width: 390px;
  height: 100px;
}

.last-box {
  height: 70px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
  top: 170px;
}

.fab {
  color: black;
  transition: all 0.5s ease-in-out;
}
.fab:hover {
  color: #00f3bb;
  transform: translateY(-10px);
}

/* .mobile-menu {
  display: none;
}

.nav-menu-movil li a {
  height: 50px;
  width: 300px;
  display: flex;
  color: white;
  background-color: blue;
  cursor: pointer;
  font-family: IBM Plex Mono;
  font-size: 16px;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 10px;
} */

/* .nav-menu-movil {
  transform: translateX(100%);
  transition: all 1s ease;
  position: relative;
  top: -90px;
}
 */
/* ul.nav-menu {
  list-style-type: none;
} */

#hamburguesa {
  display: none;
}

section.title-1b,
section .title-5b,
section .btnb,
section.rectangulob,
section.Entrevistas-b,
section.phone-deb,
section.desktop-menu,
section.Topicos-b,
section.rectangulo2b,
div.last-boxb,
div.last-box2b,
nav .logo-containerb {
  display: none;
}

section.parent-btnb {
  height: 0px;
}

#episodios {
  position: absolute;
  top: 500px;
}

#nosotros {
  position: absolute;
  top: 1200px;
}

#entrevistas {
  position: absolute;
  top: 1900px;
}

#topicos {
  position: absolute;
  top: 2800px;
}

@media screen and (max-width: 401px) {
  .menu > ul > li > a {
    display: none;
  }
  .menu-options {
    display: none;
    justify-self: flex-start;
    position: absolute;
    top: 24px;
    width: 100%;
  }

  ul.menu-options {
    /* transform: translateX(100%); */
    transition: all 2s ease;
  }

  .menu-options li {
    list-style-type: none;
    padding: 12px 16px;
    text-transform: uppercase;
    background-color: #0000ec;
    color: #ffffff;
  }

  .menu-options-links {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
  }

  .burger-close {
    display: none;
    padding: 10px 19px;
  }

  #burger-open {
    display: block;
  }

  #chk-nav-bar:checked ~ #burger-open {
    display: none;
  }

  #chk-nav-bar:checked ~ .menu-options,
  #chk-nav-bar:checked ~ #burger-close {
    display: block;
  }

  #episodios {
    top: 385px;
  }

  #nosotros {
    top: 1600px;
  }

  #entrevistas {
    top: 2550px;
  }

  #topicos {
    top: 4900px;
  }

  .menu > ul > li > a,
  .btn,
  .title-1,
  .title-5,
  /* .Episodios, */
  section.Entrevistas,
  .phone-de,
  .rectangulo2,
  .last-box,
  .Topicos,
  .logo-container {
    display: none;
  }

  nav .logo-containerb {
    display: flex;
    margin-left: 10px;
  }

  section.inicial {
    display: none;
  }

  section.titulo15btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
  }

  section.title-1b {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060a24;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: -110px;
    width: 70%;
    min-width: 280px;
  }

  section .title-5b {
    font-family: 'IBM Plex Mono';
    font-size: 13px;
    font-weight: normal;
    color: #060a24;
    letter-spacing: 1px;
    line-height: 20px;
    display: flex;
    position: relative;
    top: 10px;
  }

  section.parent-btnb {
    height: 70px;
  }

  section .btnb {
    width: 270px;
    height: 48px;
    background: #00f3bb;
    font-family: IBM Plex Mono;
    font-size: 18px;
    color: #060a24;
    font-weight: bolder;
    border: 1px solid #00f3bb;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: relative;
    top: 30px;
    left: -10px;
  }

  .btnb:hover {
    background: linear-gradient(to top right, #00f3bb, blue);
    width: 270px;
    height: 70px;
  }

  .rectangulo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 40px;
    height: 1400px;
    width: 100%;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 2%);
  }

  .rectangulo p {
    font-family: 'IBM Plex Sans';
    font-size: 40px;
    color: white;
    position: relative;
    top: 60px;
    padding-left: 27px;
    font-weight: normal;
  }

  .spotify {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
    top: -220px;
  }

  .spotify-col1,
  .spotify-col2 {
    width: 110%;
    height: 110%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 40px;
  }

  .spotify-col2 {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .spotify-col1 {
    display: flex;
    flex-direction: column;
  }

  /*   section.rectangulob {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 40px;
    height: 1400px;
    width: 320px;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 2%);
  }

  .spotifyb {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -80px;
  } */

  section.phone-deb {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -20px;
  }

  .de-donde-venimosb p {
    width: 300px;
    font-family: 'IBM Plex Mono', monospace;
    color: #060a24;
    line-height: 24px;
    position: relative;
    top: -50px;
    left: -110px;
  }

  section.Entrevistas-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2200px;
  }

  section.Topicos-b {
    display: flex;
    /* width: 80%; */
    position: relative;
    /* left: 10px; */
    padding-left: 20px;
    top: 150px;
    flex-wrap: wrap;
  }

  section.algunos-de-nuestros-temasb {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    justify-content: space-between;
    top: 40px;
    left: 110px;
    width: 30%;
    height: 600px;
  }

  .algunos-de-nuestros-temasb p:nth-child(2) {
    width: 250px;
    position: relative;
    left: -90px;
  }

  .algunos-de-nuestros-temasb p:nth-child(4) {
    width: 250px;
    position: relative;
    left: -85px;
  }

  .algunos-de-nuestros-temasb p:nth-child(6) {
    width: 250px;
    position: relative;
    left: -75px;
  }

  .algunos-de-nuestros-temasb p:nth-child(8) {
    width: 250px;
    position: relative;
    left: -80px;
  }

  section.rectangulo2b {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 230px;
    height: 341px;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 8%);
  }

  .btn2b {
    width: 270px;
    height: 48px;
    background: #00f3bb;
    border: 1px solid #00f3bb;
    font-family: IBM Plex Mono;
    font-weight: normal;
    font-size: 18px;
    position: relative;
    left: 50px;
    cursor: pointer;
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
  }

  .btn2b:hover {
    background: linear-gradient(to top right, #00f3bb, blue);
    width: 270px;
    height: 70px;
  }

  div.last-boxb {
    display: flex;
    width: 227px;
    height: 22px;
  }

  div.last-box2b {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 280px;
    padding-bottom: 35px;
  }

  .fab {
    color: black;
    transition: all 0.5s ease-in-out;
  }
  .fab:hover {
    color: #00f3bb;
    transform: translateY(-2px);
  }
}
